nav.menu {
  background-color: #311947;
  color: #ffffff;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}

nav.menu > a:hover {
  color: #c4c4c4;
}

header {
  background-color: #c789ff;
  width: 100%;
}

header > a.titlePage {
  height: 70px;
  color: inherit;
  text-decoration: inherit;
}

header > form {
  min-height: 70px;
}

header > form > * {
  height: 70px;
  margin: 0 20px;
}

header > form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header > form > div > * {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.menuInicial {
  min-height: calc(100vh - 50px);
  grid-gap: 10px;
  padding: 10px;
}

main.menuInicial > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

main.menuInicial > div > a {
  background-color: #e2c2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px;
  color: inherit;
  text-decoration: inherit;
}

main.menuInicial > div:hover > a {
  -webkit-animation-name: hoverCube;
          animation-name: hoverCube;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media only screen and (min-width: 768px) {
  main.menuInicial > div.m1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  main.menuInicial > div.m2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 2 / 5;
  }
  main.menuInicial > div.m3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  main.menuInicial > div.m4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  main.menuInicial > div.m5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  main.menuInicial > div.m6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  main.menuInicial > div.m7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 3 / 3 / 4 / 5;
  }
}

@-webkit-keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
            transform: scale3d(0.98, 0.98, 0.98);
  }
  to {
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
            transform: scale3d(0.98, 0.98, 0.98);
  }
}

@keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
            transform: scale3d(0.98, 0.98, 0.98);
  }
  to {
    -webkit-transform: scale3d(0.98, 0.98, 0.98);
            transform: scale3d(0.98, 0.98, 0.98);
  }
}

main.resultadoPesquisa {
  overflow-x: auto;
  background-color: #00000073;
  grid-gap: 1px;
}

main.resultadoPesquisa > span {
  height: 40px;
  background: #e2c2ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main.resultadoPesquisa > span > * {
  padding: 0 4px;
}

main.resultadoPesquisa > span.ordenamento {
  height: 60px;
}
