nav {
  background-color: #311947;
  color: #ffffff;
  height: 50px;
  width: 100%;
  padding: 0 20px;
}

nav > a:hover {
  color: #c4c4c4;
}

main.menuInicial {
  height: calc(100vh - 50px);
  grid-gap: 5px;
}

main.menuInicial > a {
  background-color: #e2c2ff;
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.menuInicial > a:hover {
  -webkit-animation-name: hoverCube;
          animation-name: hoverCube;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@media only screen and (min-width: 768px) {
  main.menuInicial > a.m1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  main.menuInicial > a.m2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 1 / 3 / 2 / 5;
  }
  main.menuInicial > a.m3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
  }
  main.menuInicial > a.m4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 2 / 3 / 3 / 5;
  }
  main.menuInicial > a.m5 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  main.menuInicial > a.m6 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
  }
  main.menuInicial > a.m7 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: 3 / 3 / 4 / 5;
  }
}

@-webkit-keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
}

@keyframes hoverCube {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  25% {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
  to {
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
            transform: scale3d(0.95, 0.95, 0.95);
  }
}
